@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* --color-theme-dark: #181a1e; */
  --color-theme-dark: #030209;
  --color-theme-dark-2: #10151e;
  --color-theme-accent: #ff6e00;
  --color-theme-accent-hover: #e65705;
  --color-theme-light: #e5e5e5;

  --font-figtree: "Figtree", sans-serif;
}

@layer utilities {
  .common-container {
    @apply mx-auto container px-6 md:px-8 lg:px-12 xl:px-16 2xl:px-24;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-white bg-theme-dark-2 font-figtree;
}
